<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/addDepartment"> Add Department</a> -
<a href="/departmentlist">List Departments</a> -
<a href="/addEmployee">Add Employee</a> -
<a href="/employeelist">List Employees</a>

<form action="#"
      th:action="@{/addEmployee}"
      th:object="${employee}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    Name: <input type="text" name="name" th:field="*{name}"/><br/>

    Title: <input type="text" name="title" th:field="*{title}"/><br/>

    Department: <select name="department" th:field="*{department}">
    <option th:each="department : ${departments}"
            th:value="${department.id}"
            th:text="${department.name}"/>
</select><b/><br/>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>