<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/addDepartment"> Add Department</a> -
<a href="/departmentlist">List departments</a> -
<a href="/addEmployee">Add Employee</a> -
<a href="/employeelist">List Employees</a>

<h2>Employees List</h2>

<p th:each="employee : ${employees}">
    <span th:text="${employee.name}"></span>
    <span th:text="${employee.title}"></span>
    <span th:text="${employee.department.name}"></span>
    <a th:href="@{/update/{id}(id=${employee.id})}">Update</a>
    <a th:href="@{/detail/{id}(id=${employee.id})}">Detail</a>
    <a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
</p>

</body>
</html>