<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<a class="btn btn-primary" href="/addDepartment"> Add Department</a> -
<a class="btn btn-secondary" href="/departmentlist">List Departments</a> -
<a  class="btn btn-success" href="/addEmployee">Add Employee</a> -
<a  class="row" href="/employeelist">List Employees</a>

<h2>Employee Detail</h2>

<span th:text="${employee.name}"></span><br/>
<span th:text="${employee.title}"></span><br/>
<span th:text="${employee.departmentname}"></span><br/>
<span th:text="${employee.department.name}"></span>

</body>
</html>